@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  overflow-x: hidden;
}
.page-transition {
  opacity: 0;
  background: #f7f7f7;
  transform: translateY(40px);
  filter: blur(12px);
}

p {
  font-family: 'Rubik', sans-serif;
}

.tabs {
  @apply flex items-center w-full justify-center;
}

/*projects page*/
.tab {
  @apply px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md mr-4 duration-500;
}

.tab-active {
  @apply bg-slate-600 text-white;
}

.projectMeta {
  @apply absolute bottom-0 px-12 py-6 w-full;
  
}
.project-card {
  transition: .5s ease-in-out;
  overflow: hidden;
  position: relative;
  padding: 10px;
}
.project-card:hover{
  padding: 0;
}
.linkContainer {  
  overflow: hidden;
  display: flex;
  justify-content: end;
  height: 100%;
  transition: .3s ease-in-out;
  border-radius: 10px;
}
.project-card .projImg {
  filter: saturate(1);
  transition: .3s ease-in-out;
}

.project-card:hover .projImg {
  filter: saturate(5);
  scale: 1.2;
}

.viewBtn p{
  position: relative;
  z-index: 999;
  color: #fff;
  transition: .6s ease-in-out;
  display: flex;
}
.btnLine {
  width: 100%;
  background: white;
  height: 2px;
  display: block;
  transform: translateX(-100%);
  transition: .5s ease-in-out
}
.project-card:hover .btnLine {
  transform: translateX(0);
}
